# Managed by Ansible (roles/cert_check)
CERT_CHECK_NAMES="{{ cert_check_names | join(' ') }}"
CERT_CHECK_MIN_DAYS={{ cert_check_min_days }}
CERT_CHECK_CONNECT={{ cert_check_connect }}
CERT_CHECK_PING_URL=https://hc-ping.com/{{ cert_check_ping_key }}/{{ cert_check_slug }}
