[Unit]
Description=Constellation backlink index
Wants=network-online.target
After=network-online.target

[Service]
User={{ user }}
Group={{ user }}
Type=simple
WorkingDirectory=/home/{{ user }}/links/constellation
ExecStart=/home/{{ user }}/links/target/release/main --backend rocks --data "/mnt/{{ mnt_name }}/constellation-index/" --jetstream "{{ jetstream }}"
{# todo: toggle backup configs in a condition here? #}
LimitNOFILE=16384
Restart=always
RestartSec=2
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
