# Managed by Ansible (roles/hubble). Loaded by hubble.service as EnvironmentFile.
RUST_LOG={{ hubble_rust_log }}
MALLOC_CONF={{ hubble_malloc_conf }}
_RJEM_MALLOC_CONF={{ hubble_malloc_conf }}
{% if hubble_backup_enabled %}
AWS_ACCESS_KEY_ID={{ hubble_backup_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ hubble_backup_secret_access_key }}
{% endif %}
{% for key, value in hubble_extra_env.items() %}
{{ key }}={{ value }}
{% endfor %}
