{% set backup_args = [] %}
{% if hubble_backup_enabled %}
{% set _ = backup_args.append('--backup-endpoint ' ~ hubble_backup_endpoint) %}
{% if hubble_backup_bucket %}
{% set _ = backup_args.append('--backup-bucket ' ~ hubble_backup_bucket) %}
{% endif %}
{% set _ = backup_args.append('--backup-prefix ' ~ hubble_backup_prefix) %}
{% set _ = backup_args.append('--backup-interval ' ~ hubble_backup_interval) %}
{% if hubble_backup_initial_delay %}
{% set _ = backup_args.append('--backup-initial-delay ' ~ hubble_backup_initial_delay) %}
{% endif %}
{% if hubble_backup_retain %}
{% set _ = backup_args.append('--backup-retain ' ~ hubble_backup_retain) %}
{% endif %}
{% if hubble_backup_checkpoint_dir %}
{% set _ = backup_args.append('--backup-checkpoint-dir ' ~ hubble_backup_checkpoint_dir) %}
{% endif %}
{% endif %}
[Unit]
Description=hubble
Wants=network-online.target
After=network-online.target

[Service]
User={{ hubble_user }}
Group={{ hubble_user }}
EnvironmentFile={{ hubble_home }}/hubble.env
ExecStart={{ hubble_home }}/hubble/target/release/hubble \
    --data-dir {{ hubble_data_dir }} \
    --contact {{ hubble_contact }} \
    --bind {{ hubble_bind }} \
    --metrics-bind {{ hubble_metrics_bind }} \
    {{ (hubble_mode_args + hubble_tuning_args + backup_args) | join(' \\\n    ') }}
Restart=always
RestartSec=2
# hubble's graceful shutdown handler listens for SIGINT (ctrl-c), not SIGTERM
KillSignal=SIGINT
TimeoutStopSec=60
LimitNOFILE=524288
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
