# Managed by Ansible (roles/hubble). Loaded by hubble.service as EnvironmentFile.
RUST_LOG={{ hubble_rust_log }}
MALLOC_CONF={{ hubble_malloc_conf }}
_RJEM_MALLOC_CONF={{ hubble_malloc_conf }}
{% for key, value in hubble_extra_env.items() %}
{{ key }}={{ value }}
{% endfor %}
